.main-body {
  margin-left: 18vw;
  min-height: 100vh;
  transition: all 0.3s ease-in-out;
}

.btn-primary {
  background-color: #ee564f;
  color: white;
  font-weight: 500;
  border-radius: 1rem;
  padding: 0.5rem 1.75rem;
  transition: all 0.3s ease-in-out;
}
.btn-secondary {
  border: solid 1px #0a0a0a;
  color: #0a0a0a;
  font-weight: 500;
  border-radius: 1rem;
  padding: 0.5rem 1.75rem;
  transition: all 0.3s ease-in-out;
}

.header-1 {
  font-size: 2rem;
  font-weight: 500;
  color: #0a0a0a;
  margin-bottom: 1rem;
}
.header-3 {
  font-size: 1.25rem;
  font-weight: 500;
  color: #0a0a0a;
  margin-bottom: 0.75rem;
}

input[type="text"] {
  padding: 0.5rem 0.75rem;
  border-radius: 0.3rem;
  border: solid 1px gainsboro;
  width: 100%;
}
input:focus-visible {
  outline: none;
  border-color: #ee564f;
}

@media (max-width: 880px) {
  .main-body {
    margin-left: 10rem;
  }
}
@media (max-width: 500px) {
  .main-body {
    margin-left: 3rem;
  }
  .header-1 {
    font-size: 1.5rem;
  }
  .hide-on-mobile {
    display: none;
  }
}
