.main-body {
  margin-left: 18vw;
  min-height: 100vh;
  transition: all 0.3s ease-in-out;
}

.btn-primary {
  background-color: #ee564f;
  color: white;
  font-weight: 500;
  border-radius: 1rem;
  padding: 0.5rem 1.75rem;
  transition: all 0.3s ease-in-out;
}
.btn-secondary {
  border: solid 1px #0a0a0a;
  color: #0a0a0a;
  font-weight: 500;
  border-radius: 1rem;
  padding: 0.5rem 1.75rem;
  transition: all 0.3s ease-in-out;
}
.contacts-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-gap: 1rem;
  padding: 1rem;
}
.contacts-grid .card {
  border: solid 1px gainsboro;
  border-radius: 0.5rem;
  padding: 1rem;
  transition: all 0.3s ease-in-out;
  background-color: white;
  width: 15rem;
}
.contacts-grid .card p {
  font-style: italic;
  font-size: 0.8rem;
  color: #0a0a0a;
}

.header-1 {
  font-size: 2rem;
  font-weight: 500;
  color: #0a0a0a;
  margin-bottom: 1rem;
}
.contact-form-body {
  padding: 1rem;
  border: solid 1px gainsboro;
  background-color: white;
  border-radius: 0.5rem;
}
.form-group {
  margin: 1rem 0;
  display: flex;
  gap: 1rem;
  align-items: center;
}
.form-group > label {
  min-width: 5rem;
}
input[type="text"] {
  padding: 0.5rem 0.75rem;
  border-radius: 0.3rem;
  border: solid 1px gainsboro;
  width: 100%;
}
input:focus-visible {
  outline: none;
  border-color: #ee564f;
}

.header-3 {
  font-size: 1.25rem;
  font-weight: 500;
  color: #0a0a0a;
  margin-bottom: 0.75rem;
}
.leaflet-container {
  width: 100%;
  height: 100vh;
}


@media (max-width: 880px) {
  .main-body {
    margin-left: 10rem;
  }
}
@media (max-width: 500px) {
  .main-body {
    margin-left: 3rem;
  }
  .header-1 {
    font-size: 1.5rem;
  }
  .hide-on-mobile {
    display: none;
  }
}